/.idea/.name
/out/production/JA_01_Lambda/my/lambdas/Client.class
/out/production/JA_01_Lambda/my/lambdas/IntegerCollectionManager.class
/out/production/JA_01_Lambda/my/lambdas/IntegerCollectionManager1.class
/out/production/JA_01_Lambda/my/lambdas/IntegerCollectionManager2.class
/JA_01_Lambda.iml
/.idea/misc.xml
/.idea/modules.xml
/out/production/JA_01_Lambda/my/lambdas/TransformInteger.class
